<!DOCTYPE html>
{% load static %}
<html lang="zh">
<head>
    <title>军事类知识图谱</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css'%}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/jquery-confirm.min.css'%}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/index.css'%}" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <meta charset="UTF-8">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- 小屏幕导航按钮和logo  -->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">知识图谱</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="../">知识问答</a></li>
                <li><a href="#">图谱展示</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <form id="search-form">
                <div class="form-group">
                    <input type="text" class="form-control" name="keyword" placeholder="关键词搜索">
                </div>
                <a class="btn btn-default" id="search-btn">搜索</a>
            </form>
        </div>
        <div class="col-md-10">
            <div class="page-header">
                <h1>军事类知识图谱</h1>
            </div>
            <div id="presentation" class="panel panel-default">
            </div>
        </div>
    </div>
</div>
<footer class="navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12  text-center">
                <p>Copyright © 2019 Group Bronze</p>
            </div>
        </div>
    </div>
</footer>
<script src="{%static 'js/jquery-1.11.3.min.js'%}"></script>
<script src="{%static 'bootstrap/js/bootstrap.min.js'%}"></script>
<script src="{%static 'js/jquery-confirm.min.js'%}"></script>
<script src="{%static 'js/echarts.min.js'%}"></script>
<script src="{%static 'js/kg.js'%}"></script>
</body>
</html>